* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#canvas {
  border: solid;
  border-radius: 50%;
}

.actions {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.button {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #0dfd04;
  border: unset;
  outline: none;
  color: #fff;
  border-radius: 8px;
  width: 100px;
}
